<%- include('../header.ejs', {
  title: '登录',
  isNarrow: true
}) %>

<% if(locals.isLogin) { %>
  <div>
    欢迎回来，<%= locals.nickName %> ！您已登录，请跳转<a href="/">首页</a>
  </div>
<% } else { %>
  <form>
    <div class="form-group">
      <h3>欢迎登录君书</h3>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="username" placeholder="用户名">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="password" placeholder="密码">
    </div>
    <div class="form-group">
      <button id="userLoginBtn" type="submit" class="btn btn-primary">登录</button>
      <small class="text-muted">未注册账号，去<a href="/registry">注册</a></small>
    </div>
  </form>

  <script>
    $('#userLoginBtn').click((e) => {
      e.preventDefault();

      WB.post('/api/user/login', {
        userName: $('#username').val(),
        password: $('#password').val()
      }).then(result => {
        if(result.errno === '0') {
          location.href = '/';
        } else {
          alert(result.message);
        }
      })
    })
  </script>
<% } %>
