<%- include('../header.ejs', {
  title: '注册',
  isNarrow: true
}) %>

<form>
  <div class="form-group">
    <h3>欢迎注册君书账号</h3>
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="username" placeholder="用户名">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="password" placeholder="密码">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="confirmPassword" placeholder="确认密码">
  </div>
  <div class="form-group">
    <select class="form-control" placeholder="性别">
      <option value="" selected disabled style="display: none;">性别</option>
      <option value="1">女</option>
      <option value="2">男</option>
      <option value="3">保密</option>
    </select>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">注册</button>
    <small class="text-muted">已有账号，去<a href="/login">登录</a></small>
  </div>
</form>
